
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{
        min-height: 100vh;
        -webkit-font-smoothing: antialiased;  
        -moz-osx-font-smoothing: grayscale;
        display: flex;
}
#root{
        flex-grow: 1;
        height: 100vh;
        display: flex;
        flex-direction: column;
}
.product_detail{
        width: 100%;
        height: 100vh;
}